//Created by danihbelan on 19/6/17.
//En este jade se definen los campos y el boton pertenecientes al registro

md-input-container
    label Usuario
    input(ng-model='rc.user')

md-input-container
    label Contraseña
    input(ng-model='rc.password')

md-button(ng-click='rc.registro()') Registro

