//Created by danihbelan on 19/6/17.
//En este jade se definen los campos y el boton pertenecientes al registro

md-input-container
    label Usuario
    input(ng-model='rc.user', required='')
    div(ng-messages='rc.user.$error')
        div(ng-message='required') This is required.


md-input-container
    label Contraseña
    input(ng-model='rc.password', required='', type='password')
    div(ng-messages='rc.user.$error')
        div(ng-message='required') This is required.

md-button(ng-click='rc.registro()') Registro

p {{rc.feedback}}