//
   Created by danihbelan on 2/6/17.
md-input-container
    label Usuario
    input(ng-model='lc.user')

md-input-container
    label Contraseña
    input(ng-model='lc.password')

md-button(ng-click='lc.login()') Login

