//Created by danihbelan on 2/6/17.
//Pagina de Bienvenida en la parte autorizada

md-input-container
    label Empresa
    input(ng-model='fc.empresa')



md-button(ng-click='fc.registroEmpresa()') Registro

p {{fc.feedback}}