//En este jade definimos los estados de la parte Auth
md-nav-bar
  md-nav-item(md-nav-sref='auth.welcome') Welcome
  md-nav-item(md-nav-sref='auth.formulario') Formulario

//ui-view genera las subvistas
div(ui-view="")

