//En este jade se define el marco principal de la pagina
//En el se definen todas las librerias y script necesarios que se descargaran en el cliente

//ng-app es una directiva para inicializar la aplicacion
html(ng-app='miApp')
  head
    base(href="/")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Angular Material style sheet
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Passion+One', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oxygen', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')


  //ng-cloak es una directiva que evita el parpadeo de la pagina al cargarla
  body(ng-cloak)

    //ui-view genera el marco
    div(ui-view="")

    //Enlaces a los scripts (colocar siempre al final)
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-animate.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-messages.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-aria.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")

    script(src="/dist/allmin.js")


